<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.res.spring.basics"/>

    <bean id="xmljdbcconnection" class="com.res.spring.basics.xmlcontext.XMLJdbcConnection"></bean>
    <bean id="xmlpersondao" class="com.res.spring.basics.xmlcontext.XMLPersonDAO">
        <property name="XMLJdbcConnection" ref="xmljdbcconnection"/>
    </bean>

</beans>